html {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #212529;
}

a {
    font-family:'Montserrat', sans-serif;
    color: #00A4FF !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo {
    width: 13%;
    height: 5%;
}

video {
    width: 100%;
    height: 400px;
}

.titulo-bienvenido {
    font-size: 72px;
}


.texto-Bienvenida {
   padding-top: 200px;
    
}

.subt-bienvenido {
    font-size: 56px;
    font-weight:bolder
}

.fondo-gradient {
    background: linear-gradient(0deg, #323232 21.29%, #DB43DE 25.44%, #DB43DE 57%, #21DE53 65%, #21DE53 74.29%, #00A4FF 85%, #00A4FF 92.33%, rgba(0, 164, 255, 0) 100%);
    height: 5525px;
}

p {
    line-height: 38px;
    font-family: 'Fira Sans', sans-serif;


}

.contenidos {
    padding-top: 390px;
}

.titulo-Sobre-Mi {
    font-size: 56px; 
    color: white;
}

.parrafo-sobre-mi {
    color: white; 
    font-size: 20px; 
    
}

.img-portfolio {
    width: 90%;
    margin-top: 80px;
}

.titulo-portfolio {
    font-size: 56px; 
    color: #636363;
}

.parrafo-portfolio {
    color: #636363; 
    font-size: 20px; 
    
}

.cajaForm {
    background-color: white;
    border-radius: 50px;
}
