html {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #212529;
}

a {
    font-family:'Montserrat', sans-serif;
    color: #00A4FF !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.logo {
    width: 13%;
    height: 5%;
}

video {
    width: 100%;
    height: 400px;
}

.titulo-bienvenido {
    font-size: 72px;
}


.texto-Bienvenida {
   padding-top: 200px;
    
}

.subt-bienvenido {
    font-size: 56px;
    font-weight:bolder
}

.fondo-gradient {
    background: linear-gradient(0deg, #323232 6%, #DB43DE 13%, #DB43DE 43%, #21DE53 50%, #21DE53 65%, #00A4FF 70%, #00A4FF 92.33%, rgba(0, 164, 255, 0) 100%);
    height: 3900px;
}

p {
    line-height: 38px;
    font-family: 'Fira Sans', sans-serif;


}

.contenidos {
    padding-top: 390px;
}

.titulo-Sobre-Mi {
    font-size: 56px; 
    color: white;
}

.parrafo-sobre-mi {
    color: white; 
    font-size: 20px; 
    
}

.img-portfolio {
    width: 90%;
    margin-top: 80px;
}

.titulo-portfolio {
    font-size: 56px; 
    color: #636363;
}

.parrafo-portfolio {
    color: #636363; 
    font-size: 20px; 
    
}

.cajaForm {
    background-color: white;
    border-radius: 50px;
}

.div-form {
    margin-top: 2% 
}

.logo-form {
    width: 75%;
    
}

h2 {
    line-height: 56px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold
}

.logo-form-container {
    margin-top: 14%;
}

.formulario-caja {
    border-radius: 15px;
}

label, input, textarea, button {
    font-family:'Fira Sans', sans-serif ;
    
}

input, textarea {
    box-shadow: 0px 3.65091px 3.65091px rgba(0, 0, 0, 0.25);
}

button {
    border-radius: 20px !important;
    width: 30%;
    background-color: #00A4FF !important;
    font-size: 26px !important;
    font-weight: bold !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px solid transparent !important;

}

footer {
    background-color: #323232;
    margin-top: 400px;
}

.logo-header {
    width: 15%;
}

.nav-footer {
    display: inline-block;
}